* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  color: rgb(44, 44, 44);
  height: 100%;
  margin-left:auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: linear-gradient( to bottom right, rgb(116, 149, 199), rgb(252, 206, 196));
  background-attachment: fixed;
}

h1 {
  font-size: 28px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: 14px;
  font-weight: 400;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10%;
  padding-left: 10%;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  background: white;
}

#wikiBlurb {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10%;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#wikiBlurb p {
    font-weight: 700;
    font-size: 16px;
}

a {
    color: white;
}

#wikiBlurb button {
    margin:0;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10%;
  padding-left: 10%;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  background: white;
}

select {
  font-size: 16px;
  border: 0px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  color: rgb(100, 100, 100);
}

.autocomplete {
position: relative;
display: inline-block;
}

input#myInput {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  outline:none;
  padding: 5px;
}

.day {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  font-size: 16px;
  outline:none;
}

.month {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  font-size: 16px;
  outline:none;
}

.year {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  font-size: 16px;
  outline:none;
}

input#submit {
  border: 1px solid transparent;
  background-color: #445879;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600px;
  color: white;
} 

.autocomplete-items {
position: absolute;
border: 1px solid #d4d4d4;
border-bottom: none;
border-top: none;
z-index: 99;
top: 100%;
}

.autocomplete-items div {
padding: 10px;
cursor: pointer;
background-color: #fff;
border-bottom: 1px solid #d4d4d4;
}

button {
  border: 1px solid transparent;
  background-color: #445879;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: white;
  margin-top: 30px;
  margin-left: 10%;
}
